*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
}

/* login card styling */
.login{

  width:100vw;
  height:100vh;
}

/* Styling for the curved background section */
.curve{
    position:relative;
    border:0px solid white;
    border-radius:0 0 100% 100%;
    background: linear-gradient(to right, #dc2424, #4a569d);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color:white;
    font-size: 30px;;
    width:100%;
    height:400px;
   
}

/* Padding for text inside the curve */
.curve p{
    padding-top:100px;
}

/* Card styling*/
.card{
    position:absolute;
    top:30%;
    left:33%;
    width:35%;
    height:350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:10px 10px;
    align-items: center;
    border:1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgb(214, 207, 206);
    z-index:1;
    background-color: white;
    
}

/* Styling for input fields and buttons */
input[type="text"],input[type="password"],button{
    width:100%;
    height: 40px;
    border:1px solid rgb(188, 189, 190);
    border-radius:10px;
    padding:5px;
  
}
button{
   background-color:#ed2a2a;  
   border:2px solid white;
   outline: 1px solid #ed2a2a;
   color:white;
   font-weight: 600;
    width:50%;
}
input::placeholder{
    color:rgb(188, 189, 190);
    
}

input:hover+span>i{
color:black;


}

input:active+span>i{
color:black;


}

.fa-user{   
    box-shadow:0px 0px 5px  #dc2424;
    color:#dc2424;
    font-size: 20px;
    border:2px solid #dc2424;
    border-radius: 50%;
    padding:10px 10px;

    
}

.msg{
    color:red;
}
input[type="text"],input[type="password"]{
    position: relative;
    padding-left:50px;
}
.fa-envelope{
    position: absolute;
    bottom:92px;
    left:12px;
    color:rgb(188, 189, 190);
}
.fa-lock{
    position: absolute;
    left:12px;
    bottom:34px;
    color:rgb(188, 189, 190);
}
.rem{
    padding-left:10px;
}
.form-div{
    width:88%;
    display:flex;
    gap:10px;
    flex-direction: column;
    position: relative;
}


.fa-eye,.fa-eye-slash{
    
    position: absolute;
    right:-24px;
    top:70px;
    color:rgb(188, 189, 190)
}

.fa-eye:hover,.fa-eye-slash:hover{
    color:black;
    
}


/* loading style */
.spinner{
    border:5px dotted rgb(247, 100, 100);
    border-radius:50%;
    width:40px;
    height:40px;
    box-sizing: border-box;
    animation: spin 2s infinite linear ;
    

}
.success-msg {
    color: green;
}

/* Styling for images */
.img{
    width:40px;
    height:40px;
}

img{
   width:100%;
   height:100%;
}

/* Styling for login successfully msg */
.login-msg {
    display: none;
    position: relative;
    width:100%;
    height:100vh;
    
}

.login-msg .card{
     position:absolute;
     top:35%;
     left:34%;
     height:150px;
     
}
.load,.succ{
    height:100%;
    display: none;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.card p {
    color: #4a569d;
    font-weight: 600;
    font-size: 20px;
}

/* Keyframes for spinner animation */
@keyframes spin {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}


/* media query for mobile device */

@media only screen and (max-width: 400px) {
    .curve{
     height:100%;
     border:0;
     border-radius: 0;
     justify-content:center;
     align-items: flex-start;
     font-size: 25px;
     
    }
     .curve p{
        padding-top: 50px;
        
     }
    .login-msg .card{
        left:5%;
        width:90%;
        padding:10px;
      }
    
      .fa-eye,.fa-eye-slash{
        right:5px;
      }
    .card{
        top:20%;
        left:4%;
        width:90%;
    }
.fa-user{
        position: absolute;
        background-color: white;
        top:-30px;
        font-size: 30px;
        color:rgb(230, 60, 60);
        border:2px solid rgb(220, 51, 51);


}
}

/* media query for tablet devices */
@media only screen and (min-width: 401px) and (max-width:768px) {
  .card{
    width:60%;
    left:20%;
   
  }
  .login-msg .card{
    left:20%;
  }




}


